body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: var(--background-color);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: var(--content-color);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

/* ##### Changes ##### */

footer{
    position:fixed;
    bottom: 0;
    right:0;
    transform: translate(-50%, -50%);
}

:root{
    --planet-size:80px;
    --sun-size: 200px;
    --content-color: #212431;
    --background-color: #2D3142;
    --hover-color: #424863;
}


/* Planet Content */
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.planets{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    width: 80vw;
}


/* Individual Planets */
.planet{
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--content-color);
    border-radius: 20px;
}


.planet p{
    margin-top: 0px;
}

.planet:hover{
    background: var(--hover-color);
}


/* The Sun */
.planet.Sun{
    grid-column: 1/3;
    grid-row: 1/3;
}

.planet.Sun h2{
    font-size: 2.5em;
}
.planet.Sun p{
    font-size: 1.25em;
}


/* Planet Circles */
.circle {
    width:var(--planet-size);
    height:var(--planet-size);
    border-radius: 50%;
    margin-top: 20px;
}

.circle.Sun{
    width:var(--sun-size);
    height:var(--sun-size);
}